---
import { getRockets } from "../../services/spacex";
import type { SpacexRocket } from "../../types/rockets/types";
import Layout from "../../layouts/Layout.astro";
import Content from "../../components/Content.astro";

interface Props {
  rocket: SpacexRocket;
}

// Generar rutes estàtiques per cada ID per pàgines dinàmiques afegint props i params
export async function getStaticPaths() {
  const rockets = await getRockets();
  return rockets.map((rocket) => ({
    params: { id: rocket.rocket_id },
    props: { rocket },
  }));
}

const { rocket } = Astro.props;
---

<Layout title=`Rocket ${rocket.rocket_name}`>
  <Content title={rocket.rocket_name}>
    <div class="bg-slate-200 grid grid-cols-2 md:grid-cols-3 gap-4">
      {
        rocket.flickr_images.map((img) => (
          <div>
            <img class="h-auto max-w-full rounded-lg" src={img} alt="" />
          </div>
        ))
      }
    </div>
    <div
      class="p-6 text-lg border-2 border-solid border-neutral-800 m-4 rounded-sm">
      {rocket.description}
    </div>
  </Content>
</Layout>
