---
import Layout from "../layouts/Layout.astro";
import Content from "../components/Content.astro";
import { aboutData } from "../services/data/about";
---

<Layout title="About this project">
  <Content title="What is this project about?" subtitle="Trying my skills">
    <!-- <div class="px-32 py-6 grid gap-5 text-lg text-malva"> -->
    {
      aboutData.map((element) => (
        <p class="leading-7">
          {element.text}
          {element.link && (
            <>
              <a class="underline" href={element.link.href} target="_blank">
                {element.link.text_link}
              </a>
              .
            </>
          )}
          {element.bold_text && <b class="underline">{element.bold_text}</b>}
        </p>
      ))
    }
    <!-- </div> -->
  </Content>
</Layout>
