---
import Layout from "../layouts/Layout.astro";
import Content from "../components/Content.astro";
---

<Layout title="About this project">
  <Content title="What is this project about" />
  <div>This is my first project in Astro</div>
</Layout>
