---
import { getCompanyHistory } from "@/services/spacex";
const companyHistory = await getCompanyHistory();
---

<div class="grid gap-6 lg:grid-cols-3 xl:gap-x-12">
  {
    companyHistory.map((article) => (
      <div class="mb-6 lg:mb-0">
        <div
          class="relative mb-6 overflow-hidden rounded-lg bg-cover bg-no-repeat shadow-lg dark:shadow-black/20"
          data-te-ripple-init
          data-te-ripple-color="light">
          <img
            src="https://mdbcdn.b-cdn.net/img/new/standard/city/018.jpg"
            class="w-full"
            alt="Louvre"
          />
          <a href={article.links.article}>
            <div class="absolute top-0 right-0 bottom-0 left-0 h-full w-full overflow-hidden bg-fixed opacity-0 transition duration-300 ease-in-out hover:opacity-100 bg-[hsla(0,0%,98.4%,.15)]" />
          </a>
        </div>

        <h5 class="mb-3 text-lg font-bold">{article.title}</h5>
        <p class="mb-6 dark:text-neutral-300">
          {article.event_date_utc && (
            <small>
              Published
              <u>
                {new Date(article.event_date_utc.toString()).toDateString()}
              </u>
            </small>
          )}
        </p>
        <p class="dark:text-neutral-300">{article.details}</p>
      </div>
    ))
  }
</div>
