---
interface props {
  title: string;
}

const { title } = Astro.props;
---

<div class="max-w-7xl mx-auto px-4 md:px-6 lg:px-8 xl:px-10">
  <h1 class="font-bold text-4xl p-6 text-malva">{title}</h1>
  <slot />
</div>
