---
import Icon from "@/components/icons/Icon.astro";

const socialMedia = [
  { name: "github", href: "https://github.com/laiaxarau" },
  { name: "linkedin", href: "https://www.linkedin.com/in/laiaxarau/" },
  { name: "gmail", href: "mailto:laiaxara@gmail.com" },
  { name: "laiaxarau2", href: "https://github.com/laiaxarau" },
];
---

<footer
  class="fixed bottom-0 left-0 z-20 w-full p-4 border-t bg-purple border-malva-200 shadow md:flex md:items-center md:justify-between md:p-6 dark:bg-gray-800 dark:border-gray-600">
  <span class="text-sm text-center"
    >© 2024 <a href="https://github.com/laiaxarau" class="hover:underline"
      >Laia Xarau</a
    >. All Rights Reserved.
  </span>
  <ul
    class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0">
    {
      socialMedia.map((media) => (
        <li>
          <a href={media.href}>
            <Icon customClass="fill-white m-2" name={media.name} />
          </a>
        </li>
      ))
    }
  </ul>
</footer>
