---
import ButtonNav from './ButtonNav.astro';
---

<main class="flex flex-col items-center w-full p-4 gap-4">
<h1 class="text-red-500 text-6xl font-bold">Laia's SpaceX web</h1>
<!-- <img src=".src/assets/logo.png" alt="logo"> -->
<nav>
    <!-- <ul class="flex flex-row gap-10 p-4 bg-amber-100 text-2xl text-amber-600 "> -->
       <ButtonNav link="/rockets">Rockets</ButtonNav>
       <ButtonNav link="/">Launches</ButtonNav>
       <ButtonNav link="/about">About</ButtonNav>     

</nav>
</main>