---
import ButtonNav from "@/components/ButtonNav.astro";
---

<main class="flex flex-col items-center w-full p-4 gap-4">
  <h1 class="text-red-500 text-6xl font-bold">Laia's SpaceX web</h1>
  <nav>
    <ButtonNav link="/rockets">Rockets</ButtonNav>
    <ButtonNav link="/launches">Launches</ButtonNav>
    <ButtonNav link="/about">About</ButtonNav>
  </nav>
</main>
